<div id="content">
    <div *ngIf="product">
        <button type="button" class="btn btn-default" (click)="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
        <div class="row product-detail">
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{product.productImageUrl}}">
                    </div>
                </div>
            </div>
            <div class="col s8">
                <div>
                    <h3>{{product.productName | uppercase}}</h3>
                    <p>{{product.productPrice | currency:'INR':true}}</p>
                    <p *ngIf="isAvailable()">in stock</p>
                    <p *ngIf="!isAvailable()" style="color: #ff0000;">out of stock </p>
                </div>
                <div>
                    <label>Description:</label>
                    <p>{{product.productDescription}}</p>
                </div>
            </div>
        </div>
    </div>
</div>