.product {
    display: inline-block;
    width: 250px;
    height: 300px;
    padding-top: 10px;
    margin-right: 25px;
    margin-bottom: 50px; 
}

.card-action a {
    background-color: #00b6e3;
}