.navbar {
    height: 50px;
    line-height: 50px;
    background: #00b6e3;
    text-decoration: none;
}

.navbar-header {
    float: left;
}

div.navbar-header {
    height: 50px;
}

.navbar-header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15pt;
    margin-left: 60px;
}

.navbar-menu {
    float: right;
    margin-right: 80px;
}

.navbar-menu ul {
    list-style-type: none;
    height: inherit;
}

.navbar-menu ul > li {
    display: inline-block;
}

.navbar-menu ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13pt;
    color: #fff;
    padding:0 25px;
}

.navbar-menu ul > li > a:hover {
    color: #383838;
}
