#top {
    height: 100px;
    width: 100%;
    background-color: #ccc;
}

#left {
    height: 100px;
    width: 25%;
    float: left;
    background: red;
}

#right {
    height: 100px;
    width: 75%;
    float: right;
    background: green;
}

ul#menu {
    list-style-type: none;
    margin-left: 80px;
}

ul#menu li {
    display: inline-block;
    margin-left: 25px;
}
